@import url('./Global.css');

.home-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--background-color);
    height: 82.3vh;
    width: 100%;
}

.home-div h1 {
    font-size: 10vh;
    padding-bottom: 2vh;
}

.home-div h3 {
    font-size: 5vh;
    padding-bottom: 2vh;
}

.home-div button {
    background-color: var(--primary-color);
    border: none;
    width: 30vh;
    height: 10vh;
    font-size: 2em;
}

.home-div button:hover {
    background-color: var(--highlights-color);
}

.home-div button:active{
    background-color: var(--highlights-color);
}